[submodule "firmware/src/deps/avr-usi-spi"]
	path = firmware/src/deps/avr-usi-spi
	url = https://github.com/tessel/avr-usi-spi.git
[submodule "firmware/src/deps/attiny-firmware-common"]
	path = firmware/src/deps/attiny-firmware-common
	url = https://github.com/tessel/attiny-firmware-common.git
